*{
    padding:0; margin:0;list-style: none;
}
.pin{
    padding:6px;
    float: left;   
}
.box{
    border:1px solid #eee;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
    padding:10px;
}
.box img{
    width:205px;
    height:auto;
}